<div id="header-row">
  <div id="cover-wrapper" class="avatar-glow-wrapper active-glow">
    <img
      id="cover"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="
      alt="Cover"
    >
  </div>
  <div id="text-block">
    <div id="title" data-i18n="waitingSong">Waiting for song...</div>
    <div id="artist-mapper">-</div>
    <div id="meta-line">
      <span id="difficulty">-</span>
      <span id="bpm">BPM -</span>
    </div>
    <div id="bsr-line">
      <span id="key">BSR: -</span>
      <span id="map-date"></span>
    </div>
    <div id="map-ratings">
      <div id="map-ratings-line" class="map-ratings-line">
        <span class="map-rating-item">
          <img class="service-icon" src="assets/services/beatleader.ico" alt="BeatLeader">
          Tech: <span id="map-rating-tech">--</span>
        </span>
        <span class="map-rating-item">
          <img class="service-icon" src="assets/services/beatleader.ico" alt="BeatLeader">
          Acc: <span id="map-rating-acc">--</span>
        </span>
        <span class="map-rating-item">
          <img class="service-icon" src="assets/services/beatleader.ico" alt="BeatLeader">
          Pass: <span id="map-rating-pass">--</span>
        </span>
      </div>
      <div id="map-ratings-total-row" class="map-ratings-total-row">
        <span class="map-rating-item">
          <img class="service-icon" src="assets/services/beatleader.ico" alt="BeatLeader">
          <span id="map-rating-stars">--</span>
        </span>
        <span id="ss-map-stars-item" class="map-rating-item">
          <img class="service-icon" src="assets/services/scoresaber.ico" alt="ScoreSaber">
          <span id="ss-map-stars">--</span>
        </span>
      </div>
    </div>
  </div>
</div>
