<div id="menu-overlay" class="view-mode glass-panel">
  <div id="bl-wrapper">
    <div id="bl-avatar-wrapper" class="avatar-glow-wrapper active-glow">
      <img id="bl-avatar" src="" alt="Avatar">
    </div>
    <div id="bl-info">
      <div id="bl-name" data-i18n="loading">Loading...</div>
      <div class="bl-stat-compact">Global: <span id="bl-global">#--</span></div>
      <div class="bl-stat-compact">Local: <span id="bl-local">#--</span></div>
      <div class="bl-stat-compact">PP: <span id="bl-pp">-- pp</span></div>
      <div class="bl-stat-compact bl-next-line">Next Global: <span id="bl-next-global">--</span></div>
      <div class="bl-stat-compact bl-next-line">Next Region: <span id="bl-next-region">--</span></div>
      <!-- <div id="bl-next-friends-row" class="bl-stat-compact bl-next-line">Next Friend: <span id="bl-next-friends">--</span></div> -->
    </div>
  </div>
</div>
